textarea {
    background-color: #f9f9f9 !important;
    border-radius: 7px !important;
    margin: .55rem 0;
    border: 1px solid #e6ecf3 !important;
}

.chat-form {
    border-top: 1px solid #e6ecf3;
    padding: 0 1em;
}

.chat-form .col-1, .chat-form .col-2 {
    display: flex;
}

.chat-container .btn, .chat-search-box .btn {
    padding-left: 3px;
    padding-right: 3px;
}

.chat-box {
    overflow: auto;
    padding: 1em;
    height: 100%;
}

#chat-box, #user-box, .modal-content {
    height: calc(100vh - 110px)
}

.fa-2x {
    font-size: 2em !important;
}

body {
    margin-top: 20px;
}

.chat-search-box {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
    border-bottom: 1px solid #e6ecf3;
    padding: .83rem 1rem;
}

.chat-search-box .input-group .form-control {
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    border-right: 0;
}

.chat-search-box .input-group .form-control:focus {
    border-right: 0;
}

.chat-search-box .input-group .input-group-btn .btn {
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    margin: 0;
}

.chat-search-box .input-group .input-group-btn .btn i {
    font-size: 1.2rem;
    line-height: 100%;
    vertical-align: middle;
}

.users-container, .chat-container {
    position: relative;
    border-right: 1px solid #e6ecf3;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}


/************************************************
    ************************************************
                                            Users
    ************************************************
************************************************/

.users {
    padding: 0;
    overflow: auto;
}

.users .person {
    border-bottom: 1px solid #f0f4f8;
}

.users .person {
    position: relative;
    width: 100%;
    padding: 10px 1rem;
    cursor: pointer;
}

span.bmd-form-group {
    width: 100%;
}

span.bmd-form-group textarea {
    width: 100%;
}

.users .person:hover {
    background-color: #ffffff;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e9eff5), to(#ffffff));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(right, #e9eff5, #ffffff);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(right, #e9eff5, #ffffff);
    /* FF3.6 */
    background-image: -ms-linear-gradient(right, #e9eff5, #ffffff);
    /* IE10 */
    background-image: -o-linear-gradient(right, #e9eff5, #ffffff);
    /* Opera 11.10+ */
    background-image: linear-gradient(right, #e9eff5, #ffffff);
}

.users .person.active-user {
    background-color: #ffffff;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ffffff));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(right, #eee, #ffffff);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(right, #eee, #ffffff);
    /* FF3.6 */
    background-image: -ms-linear-gradient(right, #eee, #ffffff);
    /* IE10 */
    background-image: -o-linear-gradient(right, #eee, #ffffff);
    /* Opera 11.10+ */
    background-image: linear-gradient(right, #eee, #ffffff);
}

.users a:last-child .person {
    border-bottom: none;
}

.users .person .user {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.users .person .user img, .selected-user .user img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.users .person p.name-time {
    font-weight: 600;
    font-size: .85rem;
    display: inline-block;
}

.selected-user span {
    margin-left: 10px;
}


/************************************************
    ************************************************
                                    Chat right side
    ************************************************
************************************************/

.selected-user {
    width: 100%;
    padding: 0 15px;
    min-height: 64px;
    line-height: 64px;
    border-bottom: 1px solid #e6ecf3;
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.selected-user span {
    line-height: 100%;
}

.selected-user span.name {
    font-weight: 700;
}

.chat-container {
    position: relative;
    display: none;
}

.chat-container li {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.chat-container li:last-child {
    margin-bottom: 0;
}

.chat-container .recipient-container .image-container {
    margin-right: 20px;
}

.chat-container .image-container img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.chat-container .sender-container {
    justify-content: flex-end;
}

.chat-container .sender-container > .image-container {
    margin-left: 20px;
    margin-right: 0;
}


.recipient-container, .sender-container {
    position: relative;
    width: 100%;
}

.message-container {
    position: relative;
    width: auto;
    max-width: calc(100% - 150px);
    float: left;
    background-color: #fff;
    border-radius: 7px;
    border: 1px solid #e6ecf3;
    margin: 0 5px 20px 6px;
    color: #788288;
}

.recipient-container:after {
    content: "";
    position: absolute;
    top: 11px;
    left: 63px;
    float: left;
    z-index: 100;
    border-top: 10px solid transparent;
    border-left: none;
    border-bottom: 10px solid transparent;
    border-right: 13px solid #2da9e9;
}

.recipient-container:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 62px;
    float: left;
    z-index: 99;
    border-top: 11px solid transparent;
    border-left: none;
    border-bottom: 11px solid transparent;
    border-right: 13px solid #e6ecf3;
}

.info-container {
    width: 100%;
    height: 22px;
}

.info-container > h5 > i {
    font-size: 11px;
    font-weight: 700;
    margin: 0 2px 0 0;
}

.info-container > h5 {
    margin: 8px 0 0 0;
    font-size: 12px;
    line-height: 1rem;
    float: right;
    padding-right: 10px;
}

.info-container > h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 7px 13px 0 10px;
    line-height: 1rem;
    float: left;
}

.recipient-container hr, .sender-container hr {
    margin: 4px 2%;
    width: 96%;
    opacity: 0.75;
}

.message-content {
    text-align: left;
    padding: 3px 13px 10px 13px;
    font-size: 14px;
}

.sender-container .message-container {
    float: right;
    margin: 0 6px 20px 5px;
    background-color: #f6f6f6;
}

.sender-container:after {
    content: "";
    position: absolute;
    top: 11px;
    left: auto;
    right: 63px;
    float: left;
    z-index: 100;
    border-top: 10px solid transparent;
    border-left: 13px solid #f6f6f6;
    border-bottom: 10px solid transparent;
    border-right: none;
}

.sender-container:before {
    content: "";
    position: absolute;
    top: 10px;
    left: auto;
    right: 62px;
    float: left;
    z-index: 99;
    border-top: 11px solid transparent;
    border-left: 13px solid #e6ecf3;
    border-bottom: 11px solid transparent;
    border-right: none;
}

.sender-container .info-container > h5 {
    float: left;
    padding-left: 10px;
    padding-right: 0;
}

.sender-container .info-container > h4 {
    float: right;
    color: #65addd;
}

.recipient-container .message-container {
    background-color: #2da9e9;
    color: #fff;
    border: 1px solid #e6ecf3;
}

@media (max-width: 767px) {
    .modal {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .modal-col-12 {
        display: none;
    }

    .fa-2x {
        font-size: 1.4em !important;
    }

    .chat-container {
        border: 0;
    }

    .chat-container .recipient-container,
    .chat-container .sender-container {
        margin-bottom: 15px;
    }

    .chat-container .user img {
        width: 32px;
        height: 32px;
    }

    .recipient-container .image-container, .sender-container .image-container {
        display: none;
    }

    .recipient-container:after, .recipient-container:before, .sender-container:after, .sender-container:before {
        border: none;
    }

    .message-container {
        max-width: 85%;
    }

    .chat-container li .message-content {
        font-size: .8rem;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}