{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ user.first_name }} {{ user.last_name }}
{% endblock title %}

{% block content %}
    <div class="page-header header-filter" data-parallax="true"></div>

    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                <img src="{{ user.image.url }}" id="profileImage"
                                     class="border rounded-circle border-primary">
                            </div>

                            <div class="name">
                                <h3 class="title">
                                    {{ user.first_name }} {{ user.last_name }}
                                    {% if user.is_staff %}
                                        <i class="material-icons verified">verified_user</i>
                                    {% endif %}
                                </h3>
                                <a class="btn btn-card btn-link" data-toggle="tooltip" data-placement="top"
                                   title="Написать" href="{# {% url 'chat' %} #}">
                                    <i class="material-icons">message</i>
                                </a>
                                {% if request.user in friend_list %}
                                    <a class="btn btn-card btn-link" data-toggle="tooltip" data-placement="top"
                                       title="Отменить дружбу" href="{% url 'remove_friend' url=user.url %}">
                                        <i class="fa fa-user-times"></i>
                                    </a>
                                {% elif sent_request %}
                                    <a class="btn btn-card btn-link" data-toggle="tooltip" data-placement="top"
                                       title="Отменить заявку" href="{% url 'cancel_request' url=user.url %}">
                                        <i class="material-icons">close</i>
                                    </a>
                                {% elif request_received %}
                                    <a class="btn btn-card btn-link" data-toggle="tooltip" data-placement="top"
                                       title="Принять заявку" href="{% url 'accept_friend_request' url=user.url %}">
                                        <i class="material-icons">person_add</i>
                                    </a>

                                    <a class="btn btn-card btn-link" data-toggle="tooltip" data-placement="top"
                                       title="Отклонить заявку" href="{% url 'reject_friend_request' url=user.url %}">
                                        <i class="material-icons">person_remove</i>
                                    </a>

                                    <a class="btn btn-card btn-link" data-toggle="tooltip" data-placement="top"
                                       title="Заблокировать" href="{% url 'add_block' url=user.url %}">
                                        <i class="material-icons">pan_tool</i>
                                    </a>
                                {% else %}
                                    <a class="btn btn-card btn-link" data-toggle="tooltip" data-placement="top"
                                       title="Добавить в друзья" href="{% url 'add_friend' url=user.url %}">
                                        <i class="material-icons">person_add</i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="description text-center">
                    <p>Может быть здесь будет ваш статус :)</p>
                </div>

                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" {% if friend_list %} href="#friends" role="tab" data-toggle="tab">
                                        <i class="material-icons">people</i>
                                        Друзья {{ friend_counter }}
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" {% endif %} href="#images" role="tab" data-toggle="tab">
                                        <i class="material-icons">photo_library</i>
                                        Фото
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#videos" role="tab" data-toggle="tab">
                                        <i class="material-icons">video_library</i>
                                        Видео
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#music" role="tab" data-toggle="tab">
                                        <i class="material-icons">library_music</i>
                                        Музыка
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-content tab-space">
                    {% if friend_list %}
                        <div class="tab-pane active gallery" id="friends">
                            <div class="row">
                                <div class="col-md-3">
                                    {% for friend in friend_list %}
                                        <div class="card mb-0">
                                            <img class="card-img-top mb-0" src="{{ friend.image.url }}"
                                                 alt="Card image cap">
                                            <div class="card-body">
                                                {% if friend == request.user %}
                                                    <a class="btn-link" href="{% url 'my_profile' %}">
                                                {% else %}
                                                    <a class="btn-link" href="{% url 'view_profile' url=friend.url %}">
                                                {% endif %}
                                                <h5 class="card-title">
                                                    {{ friend.first_name }} {{ friend.last_name }}
                                                    {% if friend.is_staff %}
                                                        <i class="material-icons verified">verified_user</i>
                                                    {% endif %}
                                                </h5>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="tab-pane gallery {% if not friend_list %} active {% endif %}" id="images">
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <img src="//images.unsplash.com/photo-1524498250077-390f9e378fc0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83079913579babb9d2c94a5941b2e69d&auto=format&fit=crop&w=751&q=80"
                                     class="rounded">
                                <img src="//images.unsplash.com/photo-1528249227670-9ba48616014f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=66b8e7db17b83084f16fdeadfc93b95b&auto=format&fit=crop&w=357&q=80"
                                     class="rounded">
                            </div>

                            <div class="col-md-6 mr-auto">
                                <img src="//images.unsplash.com/photo-1521341057461-6eb5f40b07ab?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=72da2f550f8cbd0ec252ad6fb89c96b2&auto=format&fit=crop&w=334&q=80"
                                     class="rounded">
                                <img src="//images.unsplash.com/photo-1506667527953-22eca67dd919?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6326214b7ce18d74dde5e88db4a12dd5&auto=format&fit=crop&w=750&q=80"
                                     class="rounded">
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane gallery" id="videos">
                        <div class="row">
                            <div class="col-md-12 ml-auto">
                                <img src="//images.unsplash.com/photo-1524498250077-390f9e378fc0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83079913579babb9d2c94a5941b2e69d&auto=format&fit=crop&w=751&q=80"
                                     class="rounded">
                                <img src="//images.unsplash.com/photo-1506667527953-22eca67dd919?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6326214b7ce18d74dde5e88db4a12dd5&auto=format&fit=crop&w=750&q=80"
                                     class="rounded">
                                <img src="//images.unsplash.com/photo-1505784045224-1247b2b29cf3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec2bdc92a9687b6af5089b335691830e&auto=format&fit=crop&w=750&q=80"
                                     class="rounded">
                            </div>

                            <div class="col-md-12 mr-auto">
                                <img src="//images.unsplash.com/photo-1504346466600-714572c4b726?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6754ded479383b7e3144de310fa88277&auto=format&fit=crop&w=750&q=80"
                                     class="rounded">
                                <img src="//images.unsplash.com/photo-1494028698538-2cd52a400b17?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83bf0e71786922a80c420c17b664a1f5&auto=format&fit=crop&w=334&q=80"
                                     class="rounded">
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane gallery" id="music">
                        <div class="row">
                            <div class="col-md-3 ml-auto">
                                <img src="//images.unsplash.com/photo-1504346466600-714572c4b726?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6754ded479383b7e3144de310fa88277&auto=format&fit=crop&w=750&q=80"
                                     class="rounded">
                                <img src="//images.unsplash.com/photo-1494028698538-2cd52a400b17?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83bf0e71786922a80c420c17b664a1f5&auto=format&fit=crop&w=334&q=80"
                                     class="rounded">
                            </div>

                            <div class="col-md-3 mr-auto">
                                <img src="//images.unsplash.com/photo-1505784045224-1247b2b29cf3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec2bdc92a9687b6af5089b335691830e&auto=format&fit=crop&w=750&q=80"
                                     class="rounded">
                                <img src="//images.unsplash.com/photo-1524498250077-390f9e378fc0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83079913579babb9d2c94a5941b2e69d&auto=format&fit=crop&w=751&q=80"
                                     class="rounded">
                                <img src="//images.unsplash.com/photo-1506667527953-22eca67dd919?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6326214b7ce18d74dde5e88db4a12dd5&auto=format&fit=crop&w=750&q=80"
                                     class="rounded">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}