{% if chat.name %}
    <li class="person" data-chat="person1">
        <div class="user">
            <img src="{{ chat.image.url }}" alt="{{ chat.name }}">
        </div>
        <p class="name-time">
            <span class="name">{{ chat.name }}</span>
        </p>
    </li>
{% else %}
    <a id="mood" href="#{{ chat.id }}">
        {% for user in chat.user_list.all %}
            {% if user != request.user %}
                <li id="{{ chat.id }}" class="person" data-chat="person1">
                    <div id="{{ chat.id }}" class="user">
                        <img id="{{ chat.id }}" src="{{ user.image.url }}" alt="{{ user.url }}">
                    </div>
                    <p id="{{ chat.id }}" class="name-time">
                        <span id="{{ chat.id }}" class="name">{{ user.first_name }} {{ user.last_name }}</span>
                    </p>
                </li>
            {% endif %}
        {% endfor %}
    </a>
{% endif %}