{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/chat.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
    <div class="container">
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card m-0">
                    <div class="row no-gutters">
                        <div id="user-box" class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div id="chats_list" class="users-container">
                                <div class="chat-search-box">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-link">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <ul class="users">
                                    {% for chat in chats %}
                                        {% include "chat/chat-list-item.html" %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div id="chat-box" class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                            <div class="chat-container">
                                <div class="selected-user">
                                    <div id="current_user" class="user"></div>
                                </div>

                                <ul id="messages" class="chat-box"></ul>
                                <div id="preview_image"></div>

                                <div class="chat-form p-0 d-flex">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-link">
                                        <i class="material-icons fa-2x">attach_file</i>
                                        <input id="image-input" class="custom-file-input" type="file" accept="image/*">
                                    </button>
                                    <div class="file-path-wrapper" style="display: none;">
                                        <input class="file-path validate" type="text"
                                               placeholder="Upload one or more files">
                                    </div>
                                    <textarea id="chat_message_input" class="form-control p-2"></textarea>
                                    <button type="button" class="btn btn-link">
                                        <i class="material-icons fa-2x">mood</i>
                                    </button>

                                    <button id="message_submit" type="button" class="btn btn-link">
                                        <i class="fa fa-paper-plane fa-2x"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script src="{% static 'js/reconnecting-websocket.js' %}" type="text/javascript"></script>
    <script>
        if (window.innerWidth <= 767) {
            const closeIcon = document.createElement('i');
            $(closeIcon).attr('class', 'material-icons');
            $(closeIcon).append('close');

            const closeButton = document.createElement('button');
            $(closeButton).attr({'class': 'close', 'aria-label': 'close', 'data-dismiss': 'modal'});
            $(closeButton).css({'position': 'absolute', 'top': '0', 'right': '0'});
            $(closeButton).append(closeIcon);

            const modalContent = document.createElement('div');
            $(modalContent).attr('class', 'modal-content')
            $(modalContent).append($('#chat-box'), closeButton);

            const modalDialog = document.createElement('div');
            $(modalDialog).attr({'class': 'modal-dialog', 'role': 'document'});
            $(modalDialog).append(modalContent);

            const modalBox = document.createElement('div')
            $(modalBox).attr({'class': 'modal fade', 'id': 'exampleModal', 'aria-labelledby': 'exampleModalLabel'});
            $(modalBox).append(modalDialog);

            const moodContainer = document.querySelectorAll('#mood');
            $(moodContainer).attr({'data-target': '#exampleModal', 'data-toggle': 'modal'});
            $('.no-gutters').append(modalBox)
        } else {
            $('#mood').removeAttr('data-target', 'data-toggle');
        }
    </script>
    <script>
        const userId = "{{ request.user.id }}";
        const uploadImageUrl = "{% url 'upload' %}";
        $('input:checked').closest("p").hide()
        {#$(document).ready(function () {#}
        {#    $('#id_name').keyup(function () {#}
        {#        if ($('#id_name').val().length === 0) {#}
        {#            $('#chat_submit').attr('disabled', true);#}
        {#        } else {#}
        {#            $('#chat_submit').attr('disabled', false);#}
        {#        }#}
        {#    })#}
        {#    $('#chat_submit').attr('disabled', true);#}
        {#    $('#id_name').keyup(function () {#}
        {#        if ($(this).val().length != 0) {#}
        {#            $('#chat_submit').attr('disabled', false);#}
        {#        } else {#}
        {#            $('#chat_submit').attr('disabled', true);#}
        {#        }#}
        {#    })#}
        {#    $('#chat_submit').click(function (e) {#}
        {#        e.preventDefault();#}
        {#        $.post('{% url "chat" %}', $('#chat_form').serialize()).done(function (data) {#}
        {#            $('#chats_list').append(data);#}
        {#            $('#accounts_list').hide()#}
        {#            $('#chats_list').show()#}
        {#        })#}
        {#    });#}
        {# });#}
    </script>
    <script src="{% static 'js/chat-socket.js' %}"></script>
    <script>
        $(function () {
            $(".heading-compose").click(function () {
                $(".side-two").css({
                    "left": "0"
                });
            });

            $(".newMessage-back").click(function () {
                $(".side-two").css({
                    "left": "-100%"
                });
            });
        })
    </script>
{% endblock javascript %}