{% if chat.name %}
    <li class="person" data-chat="person1">
        <div class="user">
            <img src="{{ chat.image.url }}" alt="{{ chat.name }}">
        </div>
        <p class="name-time">
            <span class="name">{{ chat.name }}</span>
        </p>
    </li>
{% else %}
    <a id="mood" href="#{{ chat.id }}">
        {% for user in chat.user_list.all %}
            {% if user != request.user %}
                <li id="{{ chat.id }}" class="person" data-chat="person1">
                    <div id="{{ chat.id }}" class="user">
                        <img id="{{ chat.id }}" src="{{ user.image.url }}" alt="{{ user.url }}">
                    </div>
                    <p id="{{ chat.id }}" class="name-time mb-0">
                        <span id="{{ chat.id }}" class="name">
                            {{ user.first_name }} {{ user.last_name }}
                            {% if chat.unread_set %}
                                <span id="{{ chat.id }}" class="badge badge-primary badge-pill" style="right: 20px; position: absolute">
                                    {{ chat.unread_set }}
                                </span>
                            {% endif %}
                        </span><br>
                        <span id="{{ chat.id }}" class="message">
                            {{ chat.last_message.author.first_name }}: {{ chat.last_message.content|truncatechars:40 }}
                            <span id="{{ chat.id }}" style="position: absolute; right: 20px;">
                                {{ chat.last_message.time }}
                                {{ chat.last_message.date }}
                            </span>
                        </span>
                    </p>
                </li>
            {% endif %}
        {% endfor %}
    </a>
{% endif %}